body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.cont-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.cont-question h1 {
  margin: 0 0 2rem 0;
  font-size: 2.5rem;
  line-height: 1.3;
  min-height: 100px;
}

.cont-responses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 600px;
}

.cont-responses .resp {
  background-color: white;

  padding: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  border: 3px solid #9a9a9a;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.cont-responses .resp:hover {
  transform: scale(1.05);
}

.resultados {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  padding: 1rem 6rem 1rem 6rem;
  color: black;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.resultados p {
  text-align: left;
}

.resultados h1 {
  font-size: 2.1rem;
}

.resp {
  cursor: pointer;
}

.start {
  height: 100vh;
  margin: 0%;
  background-color: #ff6347;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start h2 {
  margin: 0%;
  padding: 2rem;
  font-size: 3rem;
  color: #f5f5f5;
}

.start a {
  text-decoration: none;
  color: white;
}

.start i {
  font-size: 6rem;
  text-align: center;
  transition: transform 0.5s;
}

.start i:hover {
  transform: scale(1.1);
  color: #d5d5d5;
}

.resultados div {
  padding-bottom: 3rem;
}

.resultados a {
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
  transition: transform 0.5s;
}

h2 {
  font-size: 1.5rem;
  margin: 0%;
  padding: 0%;
  font-weight: 300;
}

@media (max-width: 575px) {
  .cont-question h1 {
    font-size: 1.8rem;
  }
}
